  /* NOTE:TAG SLECTORS  */
  body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
  }
  p{
      line-height: 2;
  }
  hr{
    border-style:none;
    border-top-style:dotted;
    border-color:orange;
    border-width: 5px;
    width:5%;
    margin-top: 50px;
  }

  h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  a{
    color: #11999E;
  }
  a:hover{
    color:#EAF6F6;
  }

  /* NOTE:class SLECTORS  */
  .top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
  }

  .middle-container {
    margin: 100px 0;
  }

  .bottom-container {
    background-color:#66BFBF;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .top-sun{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }

  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }

  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }

  .gtr {
    width: 25%;
    float: left;
    margin-right: 30px;

  }

  .computer {
      width: 25%;
      float: right;
      margin-left: 30px;

  }

  .nadav-pic {
    width: 300px;
    height: 300px;
  }
  .skill-row{
  display: inline-block;
  width: 50%;
  margin-top:0;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
  }
  .btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 100px;
  line-height: 2.6;
}
.p-last{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 2.6;
  margin-left:20px;
  padding: 20px 0 20px;
}
.intro{
  width: 30%;
  margin: auto;
}
